* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.solarSystem {
	width: 100%;
	min-height: 100vh;
	font-size: 5px;
	display: flex;
	align-items: center;
	overflow: hidden;
	justify-content: center;
	background: url('../img/background.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.sun {
	width: 10em;
	-webkit-filter: drop-shadow(0px 0px 60px rgb(255, 218, 41, 0.8));
	filter: drop-shadow(0px 0px 60px rgb(255, 218, 41, 0.8));
	animation: rotate 60s linear infinite;
}

.mercuryContainer {
	position: absolute;
	height: 15em;
	width: 15em;
	animation: rotate 6.8s linear infinite;
	border: 1px solid rgb(255, 255, 255, 0.1);
	border-radius: 50%;
}

.mercury {
	width: 15%;
	animation: rotate 108299.17s linear infinite;
}

.venusContainer {
	position: absolute;
	height: 20em;
	width: 20em;
	animation: rotate 9.3s linear infinite;
	border: 1px solid rgb(255, 255, 255, 0.1);
	border-radius: 50%;
}

.venus {
	width: 12%;
	animation: rotate 179889.57s linear infinite;
}

.earthContainer {
	position: absolute;
	height: 27em;
	width: 27em;
	animation: rotate 10.94s linear infinite;
	border: 1px solid rgb(255, 255, 255, 0.1);
	border-radius: 50%;
}

.earth {
	width: 13%;
	animation: rotate 700.65s linear infinite;
}

.moon {
	position: absolute;
	top: 4%;
	left: 18%;
	width: 4%;
	transform-origin: -300%;
	animation: rotate 6s linear infinite;
}

.marsContainer {
	position: absolute;
	height: 37em;
	width: 37em;
	animation: rotate 13.5s linear infinite;
	border: 1px solid rgb(255, 255, 255, 0.1);
	border-radius: 50%;
}

.mars {
	width: 15%;
	animation: rotate 1354.36s linear infinite;
}

.jupiterContainer {
	position: absolute;
	height: 57em;
	width: 57em;
	animation: rotate 24.95s linear infinite;
	border: 1px solid rgb(255, 255, 255, 0.1);
	border-radius: 50%;
}

.jupiter {
	width: 20%;
	animation: rotate 25.73s linear infinite;
}

.saturnContainer {
	position: absolute;
	height: 75em;
	width: 75em;
	animation: rotate 33.8s linear infinite;
	border: 1px solid rgb(255, 255, 255, 0.1);
	border-radius: 50%;
}

.saturn {
	width: 22%;
	animation: rotate 31.84s linear infinite;
}

.uranusContainer {
	position: absolute;
	height: 87em;
	width: 87em;
	animation: rotate 47.84s linear infinite;
	border: 1px solid rgb(255, 255, 255, 0.1);
	border-radius: 50%;
}

.uranus {
	width: 10%;
	animation: rotate 79.28s linear infinite;
}

.neptuneContainer {
	position: absolute;
	height: 105em;
	width: 105em;
	animation: rotate 60s linear infinite;
	border: 1px solid rgb(255, 255, 255, 0.1);
	border-radius: 50%;
}

.neptune {
	width: 10%;
	animation: rotate 120.68s linear infinite;
}

@media screen and (max-width: 768px) {
	.solarSystem {
		font-size: 3px;
	}
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
